<div class="panel-group">
    <div class="panel panel-info">
        <div class="panel-heading">Add new tutorial</div>
        <div class="panel-body">

            <form novalidate role="form" name="newTutorialForm">
                <div class="form-group">
                    <label>Title</label>
                    <br>
                    <input type="text" class="form-control" id="title" ng-model="title" ng-requried="true">
                </div>
                <br>
                <div class="form-group">
                    <label>category</label>
                    <br>
                    <input type="text" class="form-control" id="category" ng-model="category" ng-requried="true">

                </div>
                <br>
                <div class="form-group">
                    <label>Content</label>
                    <br>
                    <div class="form-group">
                        <label>Video Link</label>
                        <br>
                        <input type="text" class="form-control" id="videolink" ng-model="videolink" ng-requried="true">
                        <br>
                        <label>Gif Image Link</label>
                        <br>
                        <input type="text" class="form-control" id="gif" ng-model="gif" ng-requried="true">
                        <br>
                        <label>Text Content/pseudocode</label>
                        <br>
                        <textarea rows="3" class="form-control" id="textdata" ng-model="textdata" ng-requried="true">
                        </textarea>
                    </div>
                </div>
                <br>
                
            </form>
        </div>
        <div class="panel-footer"><button ng-disabled="{{newTutorialForm.title.$invalid}}" type="submit" class="btn btn-default" ng-click="addTutorial()">Submit</button></div>
    </div>
</div>