<section class="pricing-page">
    <div class="container">
        <div class="pricing-area text-center">
            <div class="row">
                    <div class="center">
                        <h2>signUp</h2>
                        <p class="lead">Enter the Details here</p>
                    </div>

                    <link href="css/signup.css" rel="stylesheet" type="text/css" />
                    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
                    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

                    <div id="reg_form">
                        <div class="testbox">
                            <form action="/" method="post">
                               
                                <label id="icon" for="name"><i class="icon-user"></i></label>
                                <input type="text" id="name" ng-model="signUp.name" placeholder="Name" required/> </br>
                                <label id="icon" for="email"><i class="icon-envelope"></i></label>
                                <input type="text" id="email" ng-model="signUp.email" placeholder="Email" required/> </br>
                                <label id="icon" for="pwd"><i class="icon-shield"></i></label>
                                <input type="password" id="pwd" ng-model="signUp.pwd" placeholder="Password" required/> </br>
                                <label id="icon" for="cnfPwd"><i class="icon-shield"></i></label>
                                <input type="password" id="cnfPwd" ng-model="signUp.cnfPwd" placeholder="Confirm password" required/>
                                <div style="height:20px;"></div>
                                <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>  
                                <input type="submit" value="SignUp" class="btn btn-success" />
                            </form>
                       <div style="height:50px"></div>
                        </div>
                    </div>
            </div>
        </div>
        <!--/pricing-area-->
    </div>
    <!--/container-->
</section>
<!--/pricing-page-->