<div class="container-fluid">
    <div class="row">
        <div>
            <p>
                <label>Search:</label>
                <input ng-model="searchKey" />
            </p>

            <p>
                Sort by:
                <select ng-model="sortKey">
                    <option value="title">Alphabetical</option>
                    <option value="category">category</option>
                </select>
            </p>

        </div>
        <div class="panel-group"  ng-repeat="tutorial in tutorials|filter:{title:searchKey}|orderBy:sortKey">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-10">
                        <h4>
                                <a href="#!/tutorials/{{tutorial._id}}/">
                                    <h1>{{tutorial.title}}</h1>
                                    <br>
                                    <label>Category:{{tutorial.category}}</label>
                                </a>
                            
                        </h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>