<div>

<!--
    <iframe ng-src={{deliberatelyTrustDangerousSnippet()}}
            width="560" height="315" frameborder="0" allowfullscreen></iframe>
-->
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="640" height="360" ng-src="{{deliberatelyTrustDangerousSnippet()}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <img src="{{tutorial.content.gif}}">
    <p>{{tutorial.content.text}}</p>
    
    
<!--    comments section -->
    
    <!--    glyphicon glyphicon-user  57a864a2192201e815fc8d1d-->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Comments</h3>
            </div>
        </div>
        
        <div class="row" ng-repeat="c in tutorial.comments">
            <div class="col-sm-1">
                <div class="thumbnail">
                    <div class="glyphicon glyphicon-user"></div>
                </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->

            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{c.name}}</strong> <span class="text-muted">{{c.date}}</span>
                    </div>
                    <div class="panel-body">
                        {{c.comment}}
                    </div>
                </div>
            </div>
        </div>

    </div>
    
<!--    add comment section -->
    <div class="panel-group col-lg-8">
        <div class="panel panel-info">
            <div class="panel-heading">Comment</div>
            <div class="panel-body">
                <label >Username</label>
                <input type="text" class="form-control" ng-required ng-bind="name">
                <label >Comment:</label>
                <textarea ng-required class="form-control" ng-bind="comment"></textarea>
            
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-info">Submit</button> 
            </div>
        </div>
    </div>
    
    
    
    
    
</div>