
        
                    <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/power.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                  <h1><strong>What is visual thinking and visual learning?</strong></h1>
                                    <p>Visual thinking is a learning style where the learner better understands and retains information when ideas, words and concepts are associated with images. Research tells us that the majority of students in a regular classroom need to see information in order to learn it. Some common visual learning strategies include creating graphic organizers, diagramming, mind mapping, outlining and more.</p>
                                     <div style="margin-left: 15px;">
                <h1><b>How does visual learning help students?</b></h1>
                <p><strong>Visual learning helps students clarify their thoughts</strong></p>
                <p>Students see how ideas are connected and realize how information can be grouped and organized. With visual learning, new concepts are more thoroughly and easily understood when they are linked to prior knowledge.</p>
                                                             <br> Linked verbal and visual information helps students make connections, understand relationships and recall related details.</p>
                                      <p><strong>Visual learning helps students organize and analyze information</strong>
                    <br> Students can use diagrams and plots to display large amounts of information in ways that are easy to understand and help reveal relationships and patterns.</p>
  <p><strong>Visual learning helps students integrate new knowledge</strong>
                    <br> According to research, students better remember information when it is represented and learned both visually and verbally.</p>
                <p><strong>Visual learning helps students think critically</strong>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                    <a class="preview" href="images/portfolio/full/Dijkstra.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
            <p>Visual thinking and learning utilize graphical ways of working with ideas and presenting information. Research in both educational theory and cognitive psychology tells us that visual learning is among the very best methods for teaching students of all ages how to think and how to learn.</p>
            <p><img width="368" height="250" src="images/power.jpg"  alt=""></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h1><strong>Visual thinking and learning in education</strong></h1>
            <p>Visual learning strategies such as graphic organizers, diagrams, outlines and more are being used in classrooms across the country. These strategies help students or all ages better manage learning objectives and achieve academic success. As students are required to evaluate and interpret information from a variety of sources, incorporate new knowledge with what they already have learned, and improve writing skills and think critically, visual learning tools help students meet those demands. Paired with the brain’s capacity for images, visual learning strategies help students better understand and retain information.</p>
            <p>In this section of our website, we offer a variety of resources for better understanding the use of visual learning methodologies and tools to incorporate into your classroom.</p>
            <p>View:
                <br> <a href="/lessonplans/inspiration">Lesson plans that incorporate visual thinking and outlining and are aligned to the Common Core State Standards.</a>
                <a href="/Curriculum-Integration/Inspiration">
                    <br> </a>
            </p>
            <p>Our award-winning software tools, Inspiration®, Kidspiration®, Webspiration Classroom™, and InspireData® are based upon proven visual learning methodologies that help students think, learn and achieve. With the powerful combination of visual learning and technology, students in grades K-12 learn to clarify thoughts, organize and analyze information, integrate new knowledge, and think critically.</p>


        </div>
 <!--       <div class="links">
            <ul class="links inline">
                <li class="print_html first last">
                    <a href="/print/2120" title="Display a printer-friendly version of this page." class="print-page" onclick="window.open(this.href); return false" rel="nofollow"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
-->
<!-- main-body-content-body-right -->
<!-- 										<div id='main-body-content-body-right-noleftnav-wide' class='wide'>
									 -->